<h1>Here is a list of students at Hogwarts</h1>

<% for student in @students do %>

<p>Name: <%=student.full_name%></p>
<p>House: <%=student.house%></p>
<p>Age: <%=student.age%></p>

<hr/>

<% end %>
