<h1>Enrolments</h2>

  <form action="/hogwarts" method="POST">
    <label for="first-name-field">First Name:</label>
    <input type="text" name="first_name" id="first-name-field"/>
    <br>
    <label for="last-name-field">Last Name:</label>
    <input type="text" name="second_name" id="last-name-field"/>
<br>
    <label for="house-selector">House:</label>
    <select id="house-selector" name="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Slytherin">Slytherin</option>
    </select>
<br>
    <label for="age-field">Age:</label>
    <input type="number" name="age" id="age-field"/>
    <br>
    <br>
    <input type="submit" value="Enrol"/>
  </form>
